{% extends 'base.html.twig' %}

{% block title %}New LigneCommande{% endblock %}

{% block body %}
    <h1>Create new LigneCommande</h1>

    {{ include('ligne_commande/_form.html.twig') }}

    <a href="{{ path('app_commande_show', {'id': ligne_commande.commande.id}) }}" class="btn btn-primary">Back</a>
{% endblock %}
