{% extends 'base.html.twig' %}

{% block title %}New Fournisseur{% endblock %}

{% block body %}
    <h1>Create new Fournisseur</h1>
<div class="container">
    {{ include('fournisseur/_form.html.twig') }}

    <a href="{{ path('app_fournisseur_index') }}" class="btn btn-primary">back to list</a>
    </div>
{% endblock %}
