{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <h1>Edit Categorie</h1>
<div class="container">
    {{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="container">
        <div class="row mt-4 ">
            <div class="col-1">
            <a href="{{ path('app_categorie_index') }}" class="btn btn-primary">Back</a>
            </div><div class="col-1">
                {{ include('categorie/_delete_form.html.twig') }}
        </div></div></div></div>


{% endblock %}
