{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1>Create new Categorie</h1>
<div class="container">
    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('app_categorie_index') }}" class="btn btn-primary">back to list</a>
    </div>
{% endblock %}
